/agenciaViagem/nbproject/private/
/agenciaViagem/nbproject/private/*
/agenciaViagem/build/
/SimpleWebService/nbproject/private/
/SimpleWebService/nbproject/private/*
/SimpleWebService/build/
/HelloWorldREST/nbproject/private/
/HelloWorldREST/nbproject/private/*
/HelloWorldREST/build/